<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.where2night"
    android:versionCode="8"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <!-- PERMISOS -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- PERMISOS MAPA -->

    <permission
        android:name="com.where2night.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.where2night.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
         The following two permissions are not required to use
	     Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <!-- FIN PERMISOS MAPA -->

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="es.where2night.activities.InitActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="es.where2night.activities.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="es.where2night.activities.LocalViewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_local_view" >
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="es.where2night.activities.RegistroActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_registro" >
        </activity>
        <activity
            android:name="es.where2night.activities.LoginEmailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_login_email" >
        </activity>
        <activity
            android:name="es.where2night.activities.EditProfileActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_edit_profile" >
        </activity>
        <activity
            android:name="es.where2night.activities.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyA8ip8--0dzvrSq5ic6PbZ-LjkudXtPekk" />

        <activity
            android:name="es.where2night.activities.FriendsRequestActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/Notifications" >
        </activity>
        
         <activity
            android:name="es.where2night.activities.FriendViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/Notifications" >
        </activity>
         <activity
            android:name="es.where2night.activities.ProfileViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/Notifications" >
        </activity>

        
        <!-- Search results activity -->
        <activity
            android:name="es.where2night.activities.LocalsSearchResultsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>

        <meta-data
            android:name="android.app.default_searchable"
            android:value="es.where2night.activities.SearchResultsActivity" />

        <activity
            android:name="es.where2night.activities.SearchResultsActivity"
            android:label="@string/title_activity_search_results" >
             <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
             <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_locals" />
        </activity>
        
    </application>

</manifest>
